<h1>Admin User Index</h1>
  <% @user.each do |user| %>
     <%= link_to user.name, admin_user_path(user.id) %> |
<%= link_to "delete", admin_user_path(user.id), method: :delete, data: { confirm: "You sure?"} %>
<br />
  <% end %>
<br />
<%= link_to "Administrator Index", admin_administrators_path %>
